table {
    background-color: #e7f0ed;
    font-family: 'ubuntu', sans-serif;
    box-shadow: 5px 5px 15px #628ca6;
    text-align: center;
    border-collapse: collapse;
}

thead {
    background-color: #7fb9c2;
    text-align: center;
    font-weight: bold;
    font-size: 1.5rem;
}

td {
    border: 1px solid #628ca6;
    padding: 5px 5px;
    border: 4px 0px solid darkgrey;
    margin: 0;
}

tbody tr td.dark {
    color: white;
}

.dark {
    background-color: #628ca6;
}

tr:nth-child(odd) {
    background-color: #e7ffed;
}


tr:first-child {
    background-color: #7fb9c2;
}


tfoot {
    background-color: #7fb9c2;
    text-align: center;
    font-size: .75rem;
}

.dark {
    background-color: #628ca6;
}
