/* CIT 230 - Assignment Portal CSS Template */
@import url('https://fonts.googleapis.com/css?family=Jim+Nightshade');

* { margin: 0; box-sizing: border-box; } 

body { 
    font-size: 16px; 
    line-height: 32px;
    font-family: 'Jim Nightshade', cursive;
    color: #d7d7d7;
    background-color: #0a2f53;
}

h1 {
    font-size: 3.1em;
    font-family: 'Jim Nightshade', cursive;
    color: #d7d7d7;
    
}

h2 {
    font-size: 2.1em;
    text-align: center;
    border-bottom: 1px solid #white;
    color: #d7d7d7;
}
li{
    font-size: 1.3em;
    letter-spacing: .075em;
    color: #d7d7d7;    
}

li a:link{
    color:#d7d7d7;
}

li a:visited{
    color: #E20049;
}

li a:hover{
    color: crimson;
    font-style: italic;

}

header, main, footer {
    margin: 1.25rem auto;
    padding: .5rem;
    max-width: 640px;
}


header, footer, footer a {
    text-align: center;
    background-color: lightslategray;
    color: whitesmoke;
}

header img {
    width: 200px;
    height: auto;
    float: right;
}

footer {
    font-size: .95em;
}