@media screen and (min-width: 64rem ){
    .forecast{
        display: block;
    }
    
    .day{
        display: block;
    }
    
    figure img{
        width:100%;
        height: 100%;
    }
    
    article img{
        margin: 100px;
        width:95%;
        height:95%;
    }
    
    .handle{
        display: none;
    }
    
    nav ul.hide{
        display: block;
    }
    
    nav ul li{
       display: inline-block;
        clear:both;
    }
    
    nav button {
        display: none; 
    }
    
    nav ul{
        width: 100%;
        margin-top: 0;
        padding-right: 10px;
    }
    
    nav ul li a{
        margin: 3px;
        padding: 0; 
        width: 100%;
        margin-right: 60px;
        color: #e7e7e7;
    }
    
    
    table{
        display: block;
        width: auto;
        
    }
    main h2{
        padding-top: 100px;
        width: 100%;
    }
}