/* || general styles */

html {
    font-family: 'helvetica neue', helvetica, arial, sans-serif;
    background-color: darkred;
    color: black;
}

body {
    width: 800px;
    margin: 0 auto;
}

h1,
h2 {
    font-family: 'Faster One', cursive;
}

/* header styles */

h1 {
    font-size: 5rem;
    font-style: italic;
    text-align: center;
    font-family: 'Jim Nightshade', cursive;
}

header p {
    font-size: 2.3rem;
    font-weight: bold;
    text-align: center;
    font-family: 'Jim Nightshade', cursive;
}

/* section styles */

section article {
    width: 30%;
    float: left;
}

section p {
    margin: 5px 0;
    padding-left: 5px;
}

section ul {
    margin-top: 0;
    list-style: circle;
    text-decoration: underline
}

h2 {
    font-size: 2.5rem;
    letter-spacing: -5px;
    margin-bottom: 10px;
    font-style: oblique;
    text-align: center;
}
article{
    border: white solid 1px;
    border-radius: 10px;
    box-shadow: 5px 5px 5px;
    margin: .5rem;
}